@mixin changing-color-mixin($name, $type) {
  @keyframes #{$name} {
    0% {
      #{$type}: red;
    }
    #{100/6 * 1%} {
      #{$type}: orange;
    }
    #{100/6 * 2* 1%} {
      #{$type}: yellow;
    }
    #{100/6 * 3* 1%} {
      #{$type}: green;
    }
    #{100/6 * 4* 1%} {
      #{$type}: blue;
    }
    #{100/6 * 5* 1%} {
      #{$type}: indigo;
    }
    #{100/6 * 6* 1%} {
      #{$type}: violet;
    }
  }
}

@include changing-color-mixin(changing-bg-color, background-color);
@include changing-color-mixin(changing-border-color, border-color);
@include changing-color-mixin(changing-box-shadow-color, --box-shadow-color);

@mixin dynamic-color-mixin() {
  border: 5px solid transparent;
  --box-shadow-color: transparent;
  box-shadow: 0 0 8px 8px var(--box-shadow-color);
  animation: changing-border-color 10000ms linear 0ms infinite alternate both,
    changing-box-shadow-color 10000ms linear 0ms infinite alternate both;
}
